nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.fa-bars {
    display: block;
    width: 24px;
    height: 24px;
    color: var(--text-gray);
}

.fa-bars:hover {
    color: var(--text-base);
}

.nav-link, .nav-avatar {
    display: none;

}

.hero, .cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 120px auto 40px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:
        linear-gradient(var(--bg-overlay), var(--bg-overlay)),
        url(../assets/image/banner-hero.png);
    background-size: cover;
    width: 100%;
    max-width: 320px;
    padding: 40px 20px;
    gap: 24px;
    border: none;
    border-radius: 10px;
}

.hero-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 12px;
}

.hero-header h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: var(--text-inverse);
}

.hero-header p {
    color: var(--text-inverse);
}

.hero-btn {
    width: 100%;
    max-width: 280px;
    min-height: 40px;
    background-color: var(--btn-primary);
    font-size: 14px;
    font-weight: 400;
    color: var(--text-inverse);
    border: none;
    border-radius: 10px;
}

.hero-btn:hover {
    background-color: var(--btn-primary-hover)
}

.videos {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    min-height: 1683px;
    margin: 0 auto;
    gap: 24px;
}

.videos-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.videos-header h3 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--text-main)
}

.videos-filter {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.videos-filter ul {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
}

.videos-filter li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 46px;
    padding: 20px 25px 20px 0;
}

.filter {
    color: var(--text-accent);
}

.filter-divider {
    width: 10%;
    height: 6px;
    border: none;
    border-radius: 10px;
    background-color: var(--text-accent);
}


.videos-grid {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-main);
    width: 100%;
    max-width: 320px;
    min-height: 147px;
    padding: 16px;
    gap: 8px;
    border: 1px solid var(--border-medium);
    border-radius: 10px;
}

.card:hover {
    border: 1px solid var(--border-dark)
}


.card-main {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.card-main img {
    width: 82px;
    height: 82px;
    object-fit: cover;
    border: none;
    border-radius: 10px;
}

.card-desc {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-title h6 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-main)
}

.subtitle, .subtitle-2 {
    display: none;
}

.card-instructor {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.card-instructor img {
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 10px;
}

.instructor-identity h6 {
    color: var(--text-main)
}

.instructor-identity p {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-base)
}

.company {
    display: none;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-rating {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.card-rating p {
    font-size: 14px;
    text-decoration: underline;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.rating input {
    display: none;
}

.rating label {
    color: var(--text-gray-light);
    cursor: pointer;
}

.rating input:checked~label {
    color: var(--btn-alt);
}

.rating input:hover,
.rating input:hover~label {
    color: var(--btn-alt)
}

.card-price {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--btn-primary)
}

.cta {
    margin: 40px auto;
}

.cta-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--bg-overlay), var(--bg-overlay)),
        url(../assets/image/banner-cta.png);
    background-size: cover;
    width: 100%;
    max-width: 320px;
    height: 400px;
    padding: 0 20px;
    border: none;
    border-radius: 4px;
}

.cta-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 280px;
    gap: 40px;
}

.cta-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4px
}


.cta-label {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-gray-light)
}

.cta-header h3 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--text-inverse)
}

.cta-desc {
    color: var(--text-bg-light)
}

.cta-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px
}

.cta-form input {
    width: 280px;
    text-align: center;
    padding: 10px 8px 10px 12px;
    color: var(--text-main);
    border: 1px solid var(--border-light);
    border-radius: 6px;
}

.cta-form input:focus {
    outline: var(--border-medium);

}

.cta-form button {
    width: 280px;
    padding: 10px;
    background-color: var(--btn-alt);
    font-size: 14px;
    font-weight: 700;
    color: var(--text-inverse);
    border: none;
    border-radius: 6px;
}

.cta-form button:hover {
    background-color: var(--btn-alt-hover);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 427px;
    padding: 20px;
    gap: 16px;
    background-color: var(--bg-main);
    border-top: 1px solid var(--border-medium);
}

.footer-top {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    max-width: 320px;
    gap: 16px;
}

.footer-brand {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    max-width: 320px;
    gap: 16px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-info h4 {
    font-size: 14px;
    font-weight: 700;
    color: var(--text-main);
}

.footer-info p {
    color: var(--text-main)
}

.footer-link {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.footer-col h5 {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-main)
}

.footer-col button {
    background-color: var(--bg-main);
    border: none;
}

.fa-chevron-right {
    color: var(--text-base);
}

.fa-chevron-right:hover {
    color: var(--text-gray);
}

.footer-col ul {
    display: none;
}

.footer-divider {
    width: 100%;
    height: 1px;
    margin: 10px 0 0 0;
    background-color: var(--border-medium);
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    max-width: 320px;
    gap: 12px;
}

.footer-bottom ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.footer-bottom ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    padding: 4px;
    border: 1px solid var(--border-dark);
    border-radius: 50%;
}

.footer-bottom ul li:hover {
    border: 1px solid var(--border-medium);
}

.fa-brands {
    width: 20px;
    color: var(--text-main)
}



@media (min-width: 1024px) {
    .nav-link {
        display: block;
    }

    .nav-link:hover {
        font-weight: 700;
        color: var(--text-gray)
    }

    .nav-avatar {
        display: block;
        width: 44px;
        border: none;
        border-radius: 10px;
    }

    .nav-avatar:hover {
        box-shadow: 0 0 1px 1px var(--border-dark);
    }

    .fa-bars {
        display: none;
    }

    .hero, .cta {
        margin: 140px auto 64px;
    }

    .hero-content {
        max-width: 1200px;
        padding: 82px 140px 64px;
    }

    .hero-header h1 {
        font-size: 48px;
    }

    .hero-btn {
        width: 100%;
        max-width: 369px;
        min-height: 42px;
        font-size: 16px;
        font-weight: 700;
    }

    .videos {
        max-width: 1200px;
        min-height: 1525px;
        gap: 32px;
    }

    .videos-header h3 {
        font-size: 32px;
    }

    .videos-filter {
        width: 612px;
    }

    .videos-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        max-width: 384px;
        min-height: 426px;
        padding: 20px;
        gap: 16px;
    }

    .card-main {
        flex-direction: column;
    }

    .card-main img {
        width: 344px;
        height: 193px
    }

    .card-title {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .card-title h6 {
        font-size: 16px;
    }

    .subtitle {
        display: block;
    }

    .card:hover .subtitle {
        display: none;
    }

    .card:hover .subtitle-2 {
        display: block;
    }

    .card-instructor {
        gap: 10px
    }

    .card-instructor img {
        width: 40px;
        height: 40px;
    }

    .instructor-identity p {
        font-size: 14px;
    }

    .company {
        display: inline;
    }

    .company span {
        font-weight: 700;
    }

    .card-price {
        font-size: 24px;
    }

    .cta {
        margin: 64px auto;
    }

    .cta-content {
        max-width: 1200px;
        padding: 90px 140px 64px
    }

    .cta-body {
        max-width: 525px;
    }

    .cta-label {
        font-size: 18px;
    }

    .cta-header h3 {
        font-size: 32px;
    }

    .cta-form {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        min-height: 58px;
        padding: 8px;
        gap: 20px;
        background-color: var(--bg-main);
        border: none;
        border-radius: 10px;
    }

    .cta-form input {
        text-align: start;
        width: 100%;
        max-width: 356px;
        height: 42px;
        border: none;
    }

    .cta-form button {
        width: 132px;
        height: 42px;
        font-size: 16px;
    }

    .footer {
        padding: 60px 120px;
        gap: 20px;
    }

    .footer-top {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1200px;
    }

    .footer-brand {
        width: 352px;
        gap: 16px;
    }

    .footer-info {
        gap: 12px;
    }

    .footer-info h4 {
        font-size: 18px;
    }

    .footer-link {
        flex-direction: row;
        gap: 15px;
    }

    .footer-col {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .footer-col button {
        display: none;
    }

    .footer-col ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer-col ul li a {
        font-size: 16px;
        font-weight: 500;
        color: var(--text-base);
    }

    .footer-divider {
        margin: 32px 0 0 0;
    }

    .footer-bottom {
        flex-direction: row-reverse;
        justify-content: space-between;
        max-width: 1200px;
    }
}